@page "/projects"
@using Client.Components.Public.Cards
@using Client.Services

<Client.Components.Public.Navbar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="my-3">Testing API call to github</h1>
            <div class="row">
                @if (GithubAPI.GitRepos != null)
                {
                    for (int i = 0; i < GithubAPI.GitRepos.Count; i++)
                    {
                        <div class="col-md-4">
                            <GithubRepoCard Ghc="GithubAPI.GitRepos[i]"/>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</main>

<Client.Components.Public.Footer />

@code {
    [Inject] GithubAPI GithubAPI { get; set; }
    protected override async Task OnInitializedAsync() => await GithubAPI.GetGitHubData();
}
