.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    background-color: #161616 !important;
}

.container {
    padding: 1rem;
}

.btn-navbar {
    color: #000000 !important;
    background-color: #3DCFD3;
    font-weight: 500;
}

.btn-navbar:hover {
    color: #ffffff !important;
    background-color: #808080;
}

.navbar-nav {
    margin-left: 4rem;
}

.nav-last-item {
    margin-left: auto;
}

.active {
    border-bottom: 3px solid #3DCFD3;
}

@media screen and (max-width: 768px) {
    .active {
        border-bottom: none;
        border-left: 2px solid #3DCFD3 !important;
        border-right: 2px solid #3DCFD3 !important;
    }

    .navbar-nav {
        padding: 1rem;
        margin: 0;
        background-color: #252525;
    }

    .nav-last-item {
        margin: 0.5rem auto 0.5rem auto;
       
    }

    .nav-link {
        border-left: 2px solid #252525;
        justify-content: center;
        text-align: center;
    }

    .navbar-brand {
        margin-left: 1rem;
    }

    .navbar {
        padding: .5rem 0rem !important;
    }

    .container {
        max-width: none;
        margin: 0;
        padding: 0;
    }
}
